.corpo{
	background-color: #A9A9A9;
}

.fieldset{
	border-color: black;
}

label{
	border-color: black;
}

.link{
	text-align: center;
}

.table{
	border: 1px solid black;
}

.h1{
	text-align: center;
}

/* table tr th{ */
	/* border-collapse: collapse; */
/* } */